tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
    background-color: rgb(233, 244, 251);
}

thead {
    background-color:#127ca6;
    color: white;
}
thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

img{

    border-radius: 40px
}
a {
    color:black ;
}
.email {
    overflow-x: auto;
}
td {
    text-align: center;
    border-bottom: solid 2px #127ca6; 
}
th {
    padding: 10px;
}

@media screen and (max-width: 360px){
    tbody{
        font-size: 10px;
    }
    img{

        width: 60px;    
    }
}