tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
    background-color: rgb(248, 201, 201);
}
thead {
    background-color: rgb(201, 223, 248);
    padding: 5px;

}
thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.email {
    overflow-x: auto;
}
td {
    text-align: center;
}